<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Upload and Transform Your Image</title>
</head>
<body>
    <div class="container">
        <h1>Upload and Transform Your Image</h1>
        <form action="/" method="POST" enctype="multipart/form-data">
            <label for="image">Choose an image:</label>
            <input type="file" id="image" name="image" required>

            <label for="option">Choose an option:</label>
            <select id="option" name="option">
                <option value="Grayscale">Grayscale</option>
                <option value="Blur">Blur</option>
            </select>


            <button type="submit">Upload and Convert</button>
        </form>
    </div>
</body>
</html>
